<div class="row">
  <div class="col-md-6 col-3-offset">
    <h2>List of Recipes<h2>
    <hr>
    <h3><a href="/recipes">Recipe view</a></h3>
    <h3><a href="/ingredients">Ingredient view</a></h3>
  </div>
</div>
