<h3>My Ingredients</h3>
<hr>
<% if @ingredients.any? %>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><a href="/ingredients/<%= ingredient.id() %>"><%= ingredient.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <h4>No ingredients at this time. Add ingredients or recipes</h4>
<% end %>

<h3>Add Ingredient</h3>
<form action="/ingredients" method="post">
  <label for="ingredient_name">Ingredient Name:</label>
  <input type="text" name="ingredient_name">
  <button type="submit">Save</button>
</form>
<hr>
<a href="/">Home</a>
